<app-navbar />

<app-title title="Genders" />

<section class="container mx-auto">
  <form (ngSubmit)="registerGender()" class="grid grid-cols-12 p-5 gap-4">
    <label class="form-control col-span-12">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <input [(ngModel)]="name" name="name" type="text" placeholder="Type here"
        class="input input-bordered input-info" />
    </label>
    <button class="btn btn-info col-span-12 mt-5">Register</button>
  </form>
</section>
